.nav {
    width: 260px;
    background-image: linear-gradient(to top, #1d0133, #220838, #280e3d, #2e1442, #341a47);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    padding: 80px 30px;
}

.traco {
    width: 20px;
    height: 2px;
    /* background: var(--e3); */
    align-self: center;
    border: 2px solid var(--e3);
}

.nav-mobile {
    display: none;
}

.nav div img {
    width: 200px;
    margin: 0 auto;
    border: 6px solid var(--e2);
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, .15);
    margin-bottom: 8px;
}

.nav div p {
    font-size: 1.3rem;
    color: var(--p2);
    text-align: center;
}



.nav-lista {
    text-align: center;
    align-self: center;
}

.nav-lista .link {
    color: var(--e3);
    font-size: 1.121rem;
    transition: .1s ease-in-out;
    padding: 8px 0px;
    transition: all .3s ease;
}

.nav-lista .link:hover {
    background: var(--p8);
    border-radius: 10px;
    color: #fff;
    transform: scale(1.05);
}

.active {
    color: #fff !important;
    background: var(--p8);
    border-radius: 10px;

}

.marketing {
    color: var(--e3);
    font-size: 1.12rem;
}

.nav-lista li+li {
    margin-top: 10px;
}

.btn-enviar {
    margin-top: 40px;
    background: var(--e2);
    color: #280e3d;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: 600;
}

.btn-enviar:hover {
    background: var(--p6);
    color: var(--e3);
}

.btn-download {
    text-transform: uppercase;
    padding: 4px 10px;
    font-weight: 600;
    border: 2px solid var(--p6);
    border-radius: 8px;
    color: var(--p4);

}

.redes-sociais {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;
    /* margin-top: 48px; */
}


.redes-sociais img {
    width: 32px;

}

.git {
    width: 28px !important;
}

.linkedin {
    width: 28px !important;
}

#btn-mobile {
    display: none;
}

#nav {
    display: none;
}

@media (max-width:850px) {
    .nav {
        display: none;
    }

    #nav {
        height: 70px;
        display: flex;
        background: #fff;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        background: var(--p6);
        position: fixed;
        width: 100vw;
        z-index: 100;
    }

    #menu {
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;
        /* background: var(--p6); */
        background-image: linear-gradient(to top, #1d0133, #220838, #280e3d, #2e1442, #341a47);
        display: block;
        height: 0px;
        transition: .6s ease;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu li {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    #nav ul li a {
        padding: .8rem;
        margin: 0 1rem;
        font-size: 1.09rem;
        font-weight: 500;
        color: var(--p4);
        /* border-bottom: 2px solid black; */
    }

    #nav.ative #menu {
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;

    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background: none;
        color: #fff;
    }

    /* #hamburger {
        width: 20px;
        border-top: 2px solid;
        display: block;
        color: var(--e3);
    } */
    #hamburger {
        width: 32px;
        height: 30px;
        display: block;
        background-image: url("../icones/menu.svg");
        background-size: cover;
        transition: .3s ease-in-out;
    }


    /* #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    } */

    #nav.ative #hamburger {
        width: 32px;
        height: 30px;
        display: block;
        background-image: url("../icones/close-menu.svg");
        background-size: cover;
        rotate: 90deg;
        transition: .3s ease-in-out;

    }

    .menu-redes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        color: #000;
    }

    .menu-redes img {
        width: 36px;
    }
}