.nav {
    background-image: linear-gradient(to bottom, #1d0133, #1a012f, #18022c, #160128, #140124);
    height: 70px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 20px 16px;
    transition: .5s;
}

.nav-mobile {
    display: none;
}

.trilho {
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
    cursor: pointer;
    /* background-image: url('../icones/sol.svg'); */

}

.trilho .indicador {
    /* /* align-self: flex-start; */
    width: 32px;
    height: 32px;
    background-size: cover;
    background-image: url('../icones/sol.svg');
    /* border-radius: 50%; */
    /* position: relative; */
    /* transform: scale(.8); */
    transition: .5s;
    /* display: no; */
}

.trilho.dark .indicador {
    width: 32px;
    height: 32px;
    /* align-self: flex-end; */
    transition: .3s;
    display: block;
    background-image: url('../icones/lua.svg');
    background-size: cover;
    transition: .5s
}

.trilho.dark .trilho {
    display: none;
}



.nav-lista {
    display: flex;
    gap: 24px;
    /* background: #000; */
    padding-right: 24px;
}

.nav-lista .link {
    color: var(--e3);
    font-size: 1rem;
    transition: .1s ease-in-out;
    padding: 8px 0px;
    transition: all .3s ease;
}

.nav-lista .link:hover {
    background: var(--p6);
    border-radius: 10px;
    color: #fff;
    transform: scale(1.1);
    padding: 8px 16px;
}

.active {
    color: #fff !important;
    background: var(--p6);
    border-radius: 8px;
    padding: 8px 16px !important;

}

.active-mb {
    color: #fff !important;
    background: var(--p8);
    border-radius: 10px;

}

.btn-download {
    text-transform: uppercase;
    padding: 4px 10px;
    font-weight: 600;
    border: 2px solid var(--p6);
    border-radius: 8px;
    color: var(--p4);

}

#btn-mobile {
    display: none;
}

#nav {
    display: none;
}

/* modo dark e light */

body.dark .nav {
    background-image: linear-gradient(to top, #e9e6ee, #e3dfe8, #ddd9e2, #d8d2dc, #d2ccd6);
}

body.dark .nav .nav-lista a {
    color: var(--p6);
    font-weight: 500;
}

body.dark .nav .nav-lista a:hover {
    color: var(--e3);
}



@media (max-width:850px) {

    .nav {
        padding: 0px;

    }

    .nav .trilho .indicador {
        margin-left: -30px;
    }


    .nav-lista {
        display: none;
    }

    #nav {
        display: flex;
        align-items: center;
        order: -1;
    }

    #menu {
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0px;
        /* background: var(--p6); */
        background-image: linear-gradient(to bottom, #1d0133, #1a012f, #18022c, #160128, #140124);
        display: block;
        height: 0px;
        transition: .6s ease;
        visibility: hidden;
        overflow-y: hidden;
    }

    /* dark mode */
    body.dark #menu {
        background-image: linear-gradient(to top, #e9e6ee, #e3dfe8, #ddd9e2, #d8d2dc, #d2ccd6);
    }

    #menu li {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    #menu .btns {
        display: flex;
        margin-left: 8px;
        align-items: center;
        gap: 8px;
    }


    #menu .btn-menu-mb {
        width: 200px;
        font-size: 0.9rem;
        text-align: center;
        color: var(--p6);
        font-weight: bold;
    }

    #menu .btn-menu-mb.btn-download {
        color: var(--p5);
    }


    #nav ul li a {
        padding: .8rem;
        margin: 0 1rem;
        font-size: 1.09rem;
        font-weight: 500;
        color: var(--p4);
        /* border-bottom: 2px solid black; */
    }

    /* dark mode */
    body.dark #nav ul li a {
        color: var(--p8);
    }

    #nav.ative #menu {
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;

    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background: none;
        color: #fff;
    }

    #hamburger {
        width: 32px;
        height: 30px;
        display: block;
        background-image: url("../icones/menu.svg");
        background-size: cover;
        transition: .3s ease-in-out;
    }


    #nav.ative #hamburger {
        width: 32px;
        height: 30px;
        display: block;
        background-image: url("../icones/close-menu.svg");
        background-size: cover;
        rotate: 90deg;
        transition: .3s ease-in-out;

    }

    .menu-redes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        color: #000;
    }

    .menu-redes img {
        width: 36px;
    }
}


@media(max-width:500px) {
    #menu .btns {
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }

    #nav .menu-redes {
        margin-top: 20px;
    }

    .menu-redes {
        display: flex;
    }

    #nav .menu-redes {
        margin-top: 10px;
    }

}

@media (max-width:460px) {
    .menu-redes {
        display: flex
    }

    #nav .menu-redes {
        margin-top: 10px;
    }
}