* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
p,
a,
h1,
h2,
button {
    margin: 0px;
    padding: 0px;
}

:root {
    --e2: #b65117;
    --e3: #e3651d;
    --e4: #e9844a;
    --p2: #d2ccd6;
    --p3: #a599ad;
    --p4: #848099;
    --p5: #614d70;
    --p6: #341a47;
    --p7: #1d0133;
    --p8: #1a012e;
    --p9: #140124;
    --p13: #000;
    --ti-cursor-color: #d2ccd6;
    --ti-cursor-font-size: 1.6rem;
    --ti-cursor-font-weight: 400;
    --ti-cursor-font-family: "Dm sans";
}

body {
    font-family: "Poppins";

}

li {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    /* display: block; */
    /* max-width: 100%; */
    border-radius: 5px;
}

body {
    background-color: #000;
}

.all-wide {
    margin-left: 260px;
    height: 100vh;
}

@media (max-width: 850px) {
    .all-wide {
        margin: 0px;
    }
}


.item {
    width: 60px;
    height: 2px;
    background: var(--e3);
}

.btn-global {
    display: block;
    background: var(--e3);
    text-transform: uppercase;
    padding: 16px 24px;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: bold;
}