.inicio {
    height: 100vh;
    color: #fff;
    text-align: center;
    display: grid;
    align-items: center;
    position: relative;
    /*  */
}

.inicio img {
    z-index: -1;
    height: 100%;
    position: absolute;
    opacity: .2;
    width: 100%;
}

.inicio div h1 {
    font-family: "Dm sans";
    font-size: 6rem;
    line-height: 1.2;
}

.inicio div span {
    color: var(--e3);
}

.animated {
    color: var(--p2) !important;
    font-size: 1.5rem;
}

.inicio div p {
    font-size: 1.2rem;
}

@media (max-width: 850px) {
    .inicio {
        margin: 0px;
    }
}

@media (max-width:1300px) {
    .inicio div h1 {
        font-size: 4.1rem;
    }

    .inicio div p {
        font-size: 1.05rem;
    }
}

@media(max-width:700px) {
    :root {
        --ti-cursor-font-size: 1.6rem;
        --ti-cursor-font-weight: 400;
    }

    .animated {
        font-size: 1.2rem;
    }

    .inicio h1 {
        font-size: 2.5rem !important;
    }



    .inicio {
        height: 80vh;
        overflow-x: hidden !important;
        position: relative;
    }

    .bg-img {
        width: 1500px !important;
        position: absolute;
        /* left: -190px; */
    }

    .inicio div p {
        font-size: 0.875rem !important;
    }


}

@media(max-width:550px) {
    .inicio {
        height: 60vh;
        overflow-x: hidden !important;
        position: relative;
    }

    .bg-img {
        width: 1000px !important;
        position: absolute;
        /* left: -30px; */
    }
}

@media (max-width:400px) {
    .inicio h1 {
        font-size: 1.5rem !important;
    }

    .inicio div p {
        font-size: 0.575rem !important;
    }
}