.projetos {
    /* background: var(--p8); */
    background-image: linear-gradient(to bottom, #1d0133, #1a012f, #18022c, #160128, #140124);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 80px;
    gap: 60px;
    color: var(--e2);
    position: relative;
    transition: .5s
}

.projetos.all-wide {
    height: 100vh;
}

.projetos .item {
    margin: 30px 0px;
}

.titulo-mb {
    display: none;
    align-self: center;
}

.titulo-mb h2 {
    flex: 1;
    font-family: "Dm sans";
    color: var(--p2);
    font-size: 4rem;
    /* position: relative; */
    display: grid;
    justify-items: center;
    align-items: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    /* margin-bottom: 70px; */
}


.titulo-mb h2::after {
    content: "PROJETOS";
    /* text-align: center; */
    position: absolute;
    font-size: 6rem;
    opacity: 0.06;
    font-weight: 900;
    color: var(--p9);
    font-family: "Poppins";
    color: #fff;

}

.titulo-projetos {
    /* left: 40px; */
    display: flex;
    flex-wrap: wrap;
}

.titulo-projetos h1 {
    font-size: 8rem;
    width: 4.1ch;
    word-break: break-all;
    text-transform: uppercase;
    line-height: 1.1;
    opacity: 0.6;
}

.projetos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.img-port {
    max-width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 5px;
    cursor: pointer;
    transition: 8s;
}

.img-port:hover {
    background-position: 100% 100%;
}

.projeto-item {
    width: 300px;
    padding: 20px;
    background: var(--p6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: space-between;


}

.skillss-item {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.skillss-item span {
    background: var(--p5);
    padding: 8px 8px;
    border-radius: 5px;
    font-weight: 500;
}

.skillss-item span:nth-child(1) {
    color: red;
}

.skillss-item span:nth-child(2) {
    color: yellow;
}

.skillss-item span:nth-child(3) {
    color: magenta;
}

/* .skillss-item:nth-child(1)
.skillss-item:nth-child(1) */

.links-item {
    display: flex;
    justify-content: space-between;
}

.links-item a {
    background: var(--p8);
    padding: 8px 12px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--p2);
}

/* inicio do dark mode */
body.dark .projetos {
    background-image: linear-gradient(to top, #e9e6ee, #e3dfe8, #ddd9e2, #d8d2dc, #d2ccd6);
}

body.dark .projetos .titulo-projetos h1 {
    color: var(--p7);
}

body.dark .projetos .projetos-container .projeto-item {
    background: var(--p7);
}

body.dark .projetos .projetos-container .projeto-item span {
    background: var(--p5);
}

body.dark .projetos .projetos-container .projeto-item .links-item a {
    background: var(--p6);
    color: var(--e3);
}


/* fim do dark mode */
@media(max-width:1560px) {
    .titulo-projetos h1 {
        font-size: 7rem;
    }

    .projeto-item {
        width: 250px;
        font-size: .9rem;
        word-break: break-all;
    }
}

@media(max-width:1370px) {
    .titulo-projetos h1 {
        font-size: 4rem;
    }

    .projeto-item {
        width: 250px;
        font-size: 0.8rem;
        word-break: break-all;
    }
}

@media(max-width:1250px) {
    .titulo-projetos h1 {
        font-size: 4rem;
    }

    .projeto-item {
        width: 200px;
        font-size: 0.6rem;
        word-break: break-all;
    }
}

@media(max-width:1101px) {
    .projetos {
        gap: 24px;
        flex-direction: column;
        align-content: center;
    }

    body.dark .projetos .titulo-mb h2 {
        color: var(--p6);
    }

    body.dark .projetos .titulo-mb h2::after {
        color: var(--p6);
    }

    .img-port {
        height: 150px;
    }

    .projetos.projetos.all-wide {
        height: auto !important;
    }

    .titulo-projetos {
        display: none;
    }

    .titulo-mb {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 4rem;
    }

    .titulo-mb h2 {
        font-size: 3rem;
    }

    .titulo-mb h2::after {
        font-size: 5rem;
    }
}

@media(max-width:800px) {
    .projetos-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .projetos.all-wide {
        height: auto;
    }

    .titulo-mb h2 {
        font-size: 2.5rem;
    }

    .titulo-mb h2::after {
        font-size: 4rem;
    }


}

@media(max-width:550px) {
    .projetos-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .img-port {
        height: 250px;
    }

    .projeto-item {
        width: 350px;
        font-size: 1rem;
        word-break: break-all;
    }
}

@media(max-width:500px) {
    .img-port {
        height: 200px;
    }

    .titulo-mb h2 {
        font-size: 2rem;
    }

    .titulo-mb h2::after {
        font-size: 3.4rem;
    }

    .projeto-item {
        width: 300px;
        font-size: .8rem;
        word-break: break-all;
    }
}

@media(max-width:430px) {
    .projetos {
        gap: 8px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .img-port {
        height: 150px;
    }

    .titulo-mb h2 {
        font-size: 1.5rem;
    }

    .titulo-mb h2::after {
        font-size: 2.5rem;
        word-break: break-all;
    }

    .projeto-item {
        width: 250px;
        font-size: .8rem;
        word-break: break-all;
    }
}

@media(max-width:350px) {
    .projetos {
        padding: 20px 40px;
    }

    .titulo-mb h2::after {
        display: none;
    }
}